@font-face {
    src: url(fonts/Oswald-VariableFont_wght.ttf); /*สำหรับใส่ฟอนของตัวเอง*/
    font-family: Oswald-VariableFont;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 31);
    color: aliceblue;
}

*{
    margin: 10px;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;
    border : none;
    outline: none;
    font-family: Oswald-VariableFont;
}

div{
    font-size: 24px;
}

.Header, h4{
    text-align: center;
    font-size: 60px;
}

button{
    font-size: 25px;
}

.profile_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 25px;
    padding: 100px;

}
  
.profile_img #thanapt_profile{
    width: 25%;
    height: auto;
    float: right;
    border-radius: 25% 10%;
}

#name{
    font-size: 30px;
}

h1{
    font-size: 32px;
}

h2,h3{
    font-size: 24px;
}

p{
    font-size: 16px;
}

img{
    width: 10%;
    height: auto;
}
