body{
    background-color: azure;
    text-align: center;
}

h1{
    font-family:fantasy;
    font-size: 38px;
    background-color: rgb(240, 153, 153);
    color: wheat;
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: auto;
    border-radius: 75% 25%;
}

div{
    font-family:monospace;
    background-color: wheat;
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: auto;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(105, 74, 36);
}

textarea{
    background-color: antiquewhite;
    font-family:monospace;
}

button{
    background-color: beige;
}

button:hover{
    color: rgb(73, 76, 243);
}